@charset "utf-8";
body {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
}
#divTopBanner {
	background-color: #000000;
}

#divSiteContainer {
	background-color: #333333;
	width: 790px;
	margin-right: auto;
	margin-left: auto;
}
#divIntroduction {
	text-align: left;
	color: #B9B9B9;
	font-size: 13px;
	padding: 15px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
#divIntroduction a {
	color: #FFFFFF;
}
#divIntroduction a:hover {
	color: #CC6600;
}
#divFooter a {
	color: #BDBDBD;
	font-weight: bold;
}
#divFooter a:hover {
	color: #CC6600;
	font-weight: bold;
}
.overviewHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
}
.overviewHead a {
	color: #FFFFD0;
	text-decoration: none;
}
.overviewHead a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#divOverview {
	height: 337px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F0F0F0;
}
#divOverview a {
	color: #FFFFD0;
	text-decoration: none;
}
#divOverview a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.divSection {
	float:left;
	clear:both;
}
#divPublicationsHead {
	/*width: 507px;
	float: left;*/
	background-color: #2DB962;
	padding: 10px;
}
#divPublications {
	/*width: 507px;
	float: left;*/
}
.divContent {
	width: 770px;
	padding: 10px;
	position:relative;
	overflow:auto;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	top:0;
	float:left;
	clear:both;
}
#divPubContent {
	background-color: #318FAF;
	height: 280px;
	color: #FFFFFF;
	padding-bottom: 17px;
}
#divPubContent ul {
	margin-left: 0px;
	padding-left: 5px;
	list-style-type: disc;
}
#divPubContent li {
	border-left-width: medium;
	border-left-style: solid;
	border-left-color: #216176;
	margin-bottom: 18px;
	list-style-type: none;
	padding-left: 10px;
	min-height: 60px;
}
.divPublicationsTxt {
	padding-top: 6px;
}
#divCurrentProjectsHead {
	width: 243px;
	float: left;
	background-color: #269A52;
	padding: 10px;
}
#divCurrentProjects {
	width: 243px;
	float: left;
	background-color: #287690;
	padding: 10px;
	height: 230px;
	color: #FFFFFF;
}
#divCurrentProjects ul {
	margin-left: 0px;
	padding-left: 5px;
	margin-top: 10px;
}
#divCurrentProjects li {
	margin-bottom: 15px;
	list-style-type: none;
	padding-left: 10px;
}
#divPastProjectsHead {
	/*width: 243px;
	float: right;*/
	background-color: #1E7C42;
	padding: 10px;
}
.divProjImg {
	padding-right: 10px;
	float: left;
	border: 0px;
}
#divPastProjectsContent {
	/*width: 243px;
	float: right;
	height: 280px;*/
	background-color: #205D72;
	padding: 10px;
	color: #FFFFFF;
}
.divPastProject {
	margin: 8px 10px 8px 10px;
	padding-left: 5px;
	float:left;
}
#divFooter {
	color: #757575;
	background-color:#111111;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	height: 15px;
	text-align: right;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 12px;
	padding-left: 10px;
	clear: both;
}
#divFooter img {
	vertical-align: -8%;
	margin-right: 5px;
	margin-left: 2px;
}
.divNewPubTag {
	color:#000;
	margin-right: 5px;
	background-color: #FF0;
	font-weight: bold;
	font-size: 8px;
	float:left;
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
}
.imgPaper {
	width: 60px;
	height: 60px;
	float: left;
    margin: 0px 10px 0px 0px;
	border: 0px;
}
#divDissertation {
	font-size: 13px;
	padding: 0px 0px 0px 10px;
}
#divDissertation a {
	color: #FFFFD0;
	text-decoration: none;
}
#divDissertation li {
	list-style-type: none;
	margin-bottom: 35px;
}
.divDissertationTxt {
	padding-top: 10px;
}
.imgDissertation {
	width: 100px;
	height: 100px;
	float: left;
    margin: 0px 20px 0px 0px;
	border: 0px;
}
.divDissertationTag {
	color:#000;
	margin-right: 5px;
	background-color: #FF0;
	font-weight: bold;
	font-size: 10px;
	float:left;
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
}